= form_for @joke do |f|
  %fieldset
    = f.text_area :content, placeholder: 'Funny things go here...', rows: 10

  %fieldset
    = f.text_field :credit, placeholder: 'credits go to...'

  %fieldset.buttons
    = f.button "Clear"
    = f.submit "Save"
